@import url('https://fonts.googleapis.com/css?family=Raleway');

.navbar-expand-lg{
    margin-bottom: 8vh;
}

body {
  margin: 0;
  font-family: 'Raleway';
  font-size: 16px;
  line-height: 1.8em;
  background: pink;
}

a {
  color: #1C9C94;
  text-decoration: none;
}

a:hover {
  opacity: 0.4;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  padding: 2em;
  text-align: center;
  background-size: cover;
  background-position: fixed;
  color: rgb(0, 0, 0);
}

header section {
  margin: 0 auto;
  max-width: 640px;
}

h1 {
  text-transform: uppercase;
  margin: 1em 0;
}

h3 {
  text-transform: uppercase;
}

h3, h4 {
  font-weight: bold;
}

main {
  max-width: 1140px;
}

main section:not(:last-child) {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.fab {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  margin: 5px;
  text-align: center;
}

a .fab {
  color: rgb(0, 0, 0);
}

.edu {
    text-transform: capitalize;
  }
  
  .edu span{
    color: #da0606;
  }  

.award, .skills {
  display: flex;
  flex-wrap: wrap;
}

.award .title {
  color: #000000;
  flex: 0 0 33.3%;
  max-width: 33%;
}

.award .descrpition {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}

.award .descrpition p {
  padding-left: 1em;
}

.skills .column {
  flex: 0 0 50%;
  max-width: 50%;
}

.skills .column ul {
  list-style-type:disc;
}

footer {
 padding: 1em 1.5em;
 background: #A7B8BF;
 color: rgb(0, 0, 0);
 text-align: right;
}

@media only screen and (max-width: 768px) {
  .award {
    display: block;
  }

  .award .title, .award .description {
    max-width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  .skills {
    display: block;
  }

  .skills .column {
    max-width: 100%;
  }

  footer {
    text-align: center;
  }
}